<h1>Universities</h1>

<%= form_tag('/name_search', method: 'get') do %>
  <%= label_tag(:name, "Search by name") %>
  <br>
  <%= text_field_tag(:name) %>
  <br>
  <%= submit_tag("Name Search") %>
<% end %>


<br>

<%= form_tag('/description_search', method: 'get') do %>
  <%= label_tag(:description, "Search by school description") %>
  <br>
  <%= text_field_tag(:description) %>
  <br>
  <%= submit_tag("Description Search") %>
<% end %>

<br>

<%= form_tag('/population_search', method: 'get') do %>
  <%= label_tag(:population, "Search by school population") %>
  <br>
  <%= text_field_tag(:population) %>
  <br>
  <%= submit_tag("Population Search") %>
<% end %>

<br>

<%= form_tag('/mascot_search', method: 'get') do %>
  <%= label_tag(:mascot, "Search by school mascot") %>
  <br>
  <%= text_field_tag(:mascot) %>
  <br>
  <%= submit_tag("Mascot Search") %>
<% end %>

<br>

<%= form_tag('/paginate1', method: 'get') do %>
  <%= hidden_field_tag(:page1) %>
  <%= submit_tag("1-10") %>
<% end %>
<%= form_tag('/paginate2', method: 'get') do %>
  <%= hidden_field_tag(:page2) %>
  <%= submit_tag("11-20") %>
<% end %>
<%= form_tag('/paginate3', method: 'get') do %>
  <%= hidden_field_tag(:page3) %>
  <%= submit_tag("21-30") %>
<% end %>
<%= form_tag('/paginate4', method: 'get') do %>
  <%= hidden_field_tag(:page4) %>
  <%= submit_tag("31-40") %>
<% end %>

<br>

<% @universities.each do |university| %>
  <div class="well">
    <h3><%= university['name']%></h3>
    <p>Description:</p>
    <p><%= university['description']%></p>
    <p>Mascot: <em><%= university['mascot']%></em></p>
    <p>Student Population: <%= university['population']%></p>
  </div>
<% end %>
